<!-- Home: Start -->
<div class="section first">
    <div class="right">
        <div class="content">
            <h1>Поездки по Вашей цене</h1>
            <p>Скачайте мобильное приложение Такси Мотор и определяйте сами цену вашей поездки</p>
            <div class="download">
                <a class="btn appstore"></a>
                <a class="btn googleplay"></a>
            </div>
        </div>
    </div>
    <div class="left">
    </div>
</div>
<div class="section second">
    <div class="right">
        <div class="content">
            <h1>Поездки по Вашей цене</h1>
            <p>Скачайте мобильное приложение Такси Мотор и определяйте сами цену вашей поездки</p>
            <div class="download">
                <a class="btn appstore"></a>
                <a class="btn googleplay"></a>
            </div>
        </div>
    </div>
    <div class="left">
    </div>
</div>
<div class="sectio third">

</div>
<!-- Home: End-->